*{
    box-sizing: border-box;
}

:root {
    --jeans: #445877;
    --sky: #92ccce;
    --lessDark: #31343d;
    --veryDark: #1c1d21;
    --flex-row: row;
    --flex-column: column;
    --flex-wrap: wrap;
    --center: center;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--veryDark);
    background-color: whitesmoke;
    margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--sky);
    background-color: var(--lessDark);
}

header h1 {
    padding-left: .75em;
    font-size: 2em;
    align-items: center;
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    flex-wrap: wrap;
    display: inline-block;
    font-size: 20px;
    color: var(--sky);
    padding: 1em;
    text-decoration: none;
}

a:hover {
    opacity: .9;
    color: whitesmoke;
}

.banner {
    position: relative;
}

.banner p {
    position: absolute;
    background-color: whitesmoke;
    border: solid 2px var(--jeans);
    padding: 8px;
    right: 1.5%;
    bottom: 15%;
    font-size: 18px;
    opacity: .8;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.banner img {
    width: 100%;
}

main h1 {
    background-color: whitesmoke;
    color: var(--lessDark);
    text-align: left;
    padding-right: 10px;
    border-right: solid 2px var(--lessDark);
}

.sidebar-one, .sidebar-two, .sidebar-three {
    border-right: solid var(--lessDark);
    font-size: 22px;
    padding-top: 25px;
}

.sidebar-one h1 {
    padding-bottom: 200px;
}
.sidebar-one .about-me {
    overflow: hidden;
    margin-bottom: 25px;
}

.about-me{
    text-align: left;
    padding: 25px;
    background-color: whitesmoke;
    color: var(--lessDark);
    font-size: 22px;
}

.sidebar-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.sidebar-two h1 {
    padding-bottom: 300px;
    padding-bottom: 500px;
    margin-bottom: 25px;
}

.work {
    background-color: whitesmoke;
}

.work img {
    width: 100%;

}

.cube-one {
    /* float: left; */
}

.cube-two {
    /* float: left; */
}

.cube-three {
    /* float: left; */
}

}
.cube-one img, .cube-two img, .cube-three img {
  width: 33%;
}
.sidebar-three {
    padding-bottom: 75px;
}

.contact-me {
    float: left;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;}
    header h1 {
        padding-left: 0;
        padding-top: .5em;
    }
    nav a {
        padding-top: .6em;
    }
    .sidebar-one {
        flex-direction: column;
    }
    
    .banner p {
        display: none;
    }

    }



