/* My main takeaway from this lesson is definitely the importance of staying organized and deliberate with my CSS. It sure can get mucky fast, especially if you change your strategy mid stream. */

*{
    box-sizing: border-box;
}

:root {
    --jeans: #445877;
    --sky: #92ccce;
    --lessDark: #31343d;
    --veryDark: #1c1d21;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--veryDark);
    background-color: whitesmoke;
    margin-bottom: 20px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--sky);
    background-color: var(--lessDark);
}

header h1 {
    padding-left: .75em;
    font-size: 2em;
    align-items: center;
    display: inline-block;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav a {
    flex-wrap: wrap;
    display: inline-block;
    font-size: 20px;
    color: var(--sky);
    padding: 1em;
    text-decoration: none;
}

a:hover {
    opacity: .9;
    color: whitesmoke;
}

.banner {
    position: relative;
}

.banner p {
    position: absolute;
    background-color: whitesmoke;
    border: solid 2px var(--jeans);
    padding: 8px;
    right: 1.5%;
    bottom: 15%;
    font-size: 18px;
    opacity: .8;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.banner img {
    width: 100%;
}

main h1 {
    position: relative;
    background-color: whitesmoke;
    color: var(--lessDark);
    padding-right: 10px;
    border-right: solid 2px var(--lessDark);
}

.sidebar-one, .sidebar-two, .sidebar-three {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 22px;
    padding-top: 25px;
}

.sidebar-one h1, .sidebar-two h1, .sidebar-three h1 {
    width: 20%;
    text-align: right;
}

.about-me {
    width: 75%;
    text-align: left;
    padding: 25px;
    background-color: whitesmoke;
    color: var(--lessDark);
    font-size: 22px;
}

.sidebar-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar-two h2 {
    left: 20px;
    bottom: 50px;
}

.sidebar-two img {
    width: 75%;
}

.sidebar-three {
    width: 100%;
    padding-left: 3px;
    padding-right: 13px
}

.sidebar-three h1 {
    padding-top: 10px;
}

.sidebar-three ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar-three a {
    display: inline-block;
    font-size: 18px;
    color: var(--veryDark);
    padding: 1em;
    text-decoration: none;
    justify-content: space-between;
}

.sidebar-three a:hover{
    font-weight: bold;
}


/* I'm finally getting the hang of these media queries! */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;}
    
    header h1 {
        padding-left: 0;
        padding-top: .5em;
    }
    
    nav a {
        padding-top: .6em;
    }
    
    .banner p {
        display: none;
    }
    
    .sidebar-one h1, .sidebar-two h1, .sidebar-three h1 {
        flex-direction: column;
        text-align: center;
        border-right: none;
        width: 100%;
    }
    
    .sidebar-two h1 {
        padding-bottom: 25px;
    }

    .sidebar-three {
        border-right: none;
        width: 100%;
    }

    .sidebar-three ul {
        width: 100%;
    }

    .about-me, .sidebar-two img {
        width: 100%;
        padding-bottom: none;
    }
    }



